@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
/* .root{} */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.border-alpha-25{
    border-color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
     border-color: var(--color-white-alpha-25);
  }
}
.border-alpha-35{
    border-color: var(--color-black-alpha-35);
    &:where(.dark, .dark *) {
     border-color: var(--color-white-alpha-35);
  }
}
.border-alpha-50{
    border-color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {       
        border-color: var(--color-white-alpha-50);  
    }   
}

.text-alpha-25{
    color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-25);
}}
.text-alpha-35{
    color: var(--color-black-alpha-35);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-35);
}}
.text-alpha-40{
    color: var(--color-black-alpha-40);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-40);
}}
.text-alpha-50{
    color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-50);
}}
.text-alpha-60{
    color: var(--color-black-alpha-60);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-60);
}}
.text-alpha-70{
    color: var(--color-black-alpha-70);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-70);
}}
.text-alpha{
    color: var(--color-black-alpha-50);
    &:where(.dark, .dark *) {
     color: var(--color-white-alpha-50);
}}
.bg-alpha-5{
    background-color: var(--color-black-alpha-5);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-5);
    }}
.bg-alpha-10{
    background-color: var(--color-black-alpha-10);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-10);
    }}
.bg-alpha-20{
    background-color: var(--color-black-alpha-20);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-20);
    }}
.bg-alpha-25{
    background-color: var(--color-black-alpha-25);
    &:where(.dark, .dark *) {
        background-color: var(--color-white-alpha-25);
    }}
    .bg-alpha-40{
        background-color: var(--color-black-alpha-40);
        &:where(.dark, .dark *) {
         background-color: var(--color-white-alpha-40);
    }}
.bg-alpha-70{
    background-color: var(--color-black-alpha-70);
    &:where(.dark, .dark *) {
     background-color: var(--color-white-alpha-70);
}}

.global-color{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(255 255 255/var(--tw-bg-opacity));
        background-color: rgb(35 39 47/var(--tw-bg-opacity));
    }
}
.global-color{
    --tw-bg-opacity: 20%;
    color: rgb(255 255 255/var(--tw-bg-opacity));
    background-color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(35 39 47/var(--tw-bg-opacity));
        background-color: rgb(255 255 255/var(--tw-bg-opacity));
    }
}
.global-border{
    --tw-border-opacity: 1;
    border-color: rgb(220 224 229/var(--tw-border-opacity));
    &:where(.dark, .dark *) {
        border-color: rgb(57 62 70/var(--tw-border-opacity));
    }
    border-width: 1px;
}
.global-shadow{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    &:where(.dark, .dark *) {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);
    }   
}

:is(.dark .dark\:bg-wash-dark) {
    --tw-bg-opacity: 1;
    background-color: rgb(35 39 47/var(--tw-bg-opacity))
}
.bg-wash,
.bg-white {
    --tw-bg-opacity: 1;
    /* background-color: rgb(35 39 47/var(--tw-bg-opacity)) */
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}
.property-bg{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    transition-property: color,background-color;
    transition-duration: 300ms;
    &:where(.dark, .dark *) {
        background-color: var(--color-black);
    }

}
.bg-opacity-10 {
    --tw-bg-opacity: 10%
}

.bg-opacity-5 {
    --tw-bg-opacity: 05%
}

.bg-opacity-50 {
    --tw-bg-opacity: 50%
}

.bg-opacity-80 {
    --tw-bg-opacity:80%
}

:is(.dark .dark\:bg-opacity-95) {
    --tw-bg-opacity: 95%;
}
.bg-opacity-90 {
    --tw-bg-opacity: 90%
}
.bg-opacity-95 {
    --tw-bg-opacity: 95%
}
.bg-opacity-98 {
    --tw-bg-opacity: 98%
}

body {
    background-color: var(--background);
    color: var(--foreground);
    min-width: 320px;
    overflow-x: hidden;
}
.property-text{

    --tw-bg-opacity: 1;
    color: rgb(35 39 47/var(--tw-bg-opacity));
    &:where(.dark, .dark *) {
        color: rgb(255 255 255/var(--tw-bg-opacity));
    }
}

.scrollbar-hidden{
    /* --scrollbar-padding:15px; */
    overflow: hidden;
}

.text-gold{
    color: oklch(82.8% 0.189 84.429);
}
.text-gold-hover:hover{
    color: oklch(76.9% 0.188 70.08);
}
.bordet-gold{
    border-color: oklch(82.8% 0.189 84.429);
}
.border-gold-hover:hover{
    border-color: oklch(76.9% 0.188 70.08);
}
.border-gold-focus:focus{
    border-color: oklch(76.9% 0.188 70.08);
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  #root {
    @apply min-h-screen;
  }
  html {
    @apply font-sans;
  }
}

test{
    position:absolute;
}